/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: auto;
}

.Are{
  margin-right: 43%;
}

.Are1{
  margin-right: 70%;

}

.Are2{
  margin-right: 70%;

} */

body{
  padding-left: 40px;
  padding-right: 40px;
  background-color:rgb(159, 222, 242);
}
.totelPriceDiv{
  display: flex;
  padding: 10px;
  width: 97.5%;
  border-radius: 5px;
  border: 0.5px solid black;
}
/* p{
  margin-left: 80%;
} */
/* .taotalPrice{
  margin-left: 80%;
} */
.icons{
  color: white;
}

.button{
  margin-top: 30px;
  margin-left: 60%;
}
.search-baar{
  text-align: center;
}
.search-input{
  width: 40%;
  margin-top: 30px;
  border-radius: 25px;
  border: solid black 2px;
  padding: 5px;
}
.sort-order{
  margin-left: 93%;
}
.nav-baar{
  margin-top: 30px;
}
select{
  border-radius: 25px;
}
.pagination{
  margin-top: 30px;
  margin-left: 40%;
}
.inquiry-button{
  margin-top: 27px;
  margin-left: 80px;
}
.form{
  text-align: center;
  margin-top: 200px;
}
.delet{
  margin-top: 25px;
  margin-left: 30px;
}
.Price{
  margin-left: 90%;
}

