
body{
  padding-left: 40px;
  padding-right: 40px;
  background-color:rgb(159, 222, 242);
}
.totelPriceDiv{
  display: flex;
  padding: 10px;
  width: 97.5%;
  border-radius: 5px;
  border: 0.5px solid black;
}
.icons{
  color: white;
}

.button{
  margin-top: 30px;
  margin-left: 60%;
}
.search-baar{
  text-align: center;
}
.search-input{
  width: 40%;
  margin-top: 30px;
  border-radius: 25px;
  border: solid black 2px;
  padding: 5px;
}
.sort-order{
  margin-left: 93%;
}
.nav-baar{
  margin-top: 30px;

}
select{
  border-radius: 25px;
}
.pagination{
  margin-top: 30px;
  margin-left: 40%;
}
.inquiry-button{
  margin-top: 27px;
  margin-left: 80px;
}
.form{
  text-align: center;
  margin-top: 200px;
}
.delet{
  margin-top: 25px;
  margin-left: 30px;
}
.Price{
  margin-left: 90%;
}


